<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzf.blog.comment.biz.domain.mapper.CommentDOMapper">
  <resultMap id="BaseResultMap" type="com.xzf.blog.comment.biz.domain.dataobject.CommentDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_id, user_id, content, create_time, update_time
  </sql>

    <select id="count" resultType="java.util.Map">
      SELECT
      article_id as articleId,
      COUNT(*) as commentCount
      FROM comment
      WHERE article_id IN
      <foreach collection="articleIds" item="articleId" open="(" separator="," close=")">
        #{articleId}
      </foreach>
      GROUP BY article_id
    </select>

</mapper>